### 006

In [47]:
print('"' '!@#$%^&*()' "'")

"!@#$%^&*()'

### 007
print out this path including "" : "C:\Download\\'hello'.py"<br/>

In [36]:
print('"'"C:\Download\\'hello'.py"'"')

"C:\Download\'hello'.py"

### 008

In [37]:
print("Hello\nWorld")

Hello
World

In [43]:
print('print''(''"Hello\\nWorld"'')')

print("Hello\nWorld")

### 020

In [61]:
x, y = input().split('-')
print(x + y)

950322-2423212
9503222423212

### 021

In [66]:
s = input()

for i in range(len(s)):
    print(s[i])

hello

### 022

In [76]:
x = input()
print(x[0:2], x[2:4], x[4:6])

950322
95 03 22

### 023

In [78]:
x, y, z = input().split(':')
print(y)

17:23:57
23

### 024

In [80]:
x, y = input().split()
print(x+y)

hello world
helloworld

### 025

In [82]:
x, y = input().split()
c = int(x) + int(y)
print(c)

123 -123
0

### 026

In [84]:
x = input()
y = input()
z = float(x) + float(y)
print(z)

0.1
0.9
1.0

### 027

In [85]:
a = input()
n = int(a) # convert a into octal number 
print('%x'%n) # convert n into hexadecimal number as lower case

255
ff

In [86]:
a = input()
n = int(a) # convert a into octal number as upper case
print('%X'%n)

255
FF

### 028

In [ ]:
a = input()
n = int(a, 16) # recognize a as hexadecimal number
print('%o'% n) # print out value in n as a octal number

### 030

In [87]:
n = ord(input()) # convert input into octal number
print(n)

A
65

### 033

In [32]:
n = input()

a

In [34]:
ord_n = ord(n) # ord : convert string into integer
print(ord_n)

97

In [39]:
chr_n_1 = chr(ord_n+1)# chr : convert string into integer
print(chr_n_1)

b

In [47]:
n = input()
ord_n = ord(n)
print(ord_n)

chr_n = chr(ord_n)
print(chr_n)

chr_n_1 = chr(ord_n+1)
print(chr_n_1)

5
53
5
6

In [45]:
n = input()
print(n+1) # str + int = impossible

5

TypeError: can only concatenate str (not "int") to str

### 034

In [67]:
a, b = input().split()

123 -123

In [68]:
print(int(a) - int(b))

246

In [71]:
a, b = int(input()).split()

-123 123

ValueError: invalid literal for int() with base 10: '-123 123'

### 035

In [73]:
a, b = input().split()

0.5 2.0

In [75]:
print(float(a) * float(b))

1.0

### 036

In [84]:
w, n = input().split()
print(w*int(n))

love 3
lovelovelove

### 037

In [85]:
n = input()
s = input()
print(int(n)*s)

3
I AM INA
I AM INAI AM INAI AM INA

### 038

In [86]:
a, b = input().split()
print(int(a) ** int(b))

2 10
1024

### 039

In [88]:
a, b = input().split()
print(int(a) // int(b))

10 3
3

### 041

In [89]:
a, b = input().split()
print(int(a) % int(b))

4 2
0

### 042

In [91]:
a = input()
print(round(float(a), 2))

3.141592
3.14

### 043

In [97]:
a, b = input().split()

10 3

In [110]:
c = float(a) / float(b)

In [111]:
print(c)

3.3333333333333335

In [114]:
print('%.3f'%c)

3.333

In [117]:
print('%.3f'%(float(a) / float(b)))

3.333

### 044

In [120]:
a, b = input().split()
print(int(a) + int(b))
print(int(a) - int(b))
print(int(a) * int(b))
print(int(a) // int(b))
print(int(a)%int(b))
print('%.2f'%(int(a) / int(b)))

10 3
13
7
30
3
1
3.33

### 045

In [123]:
a, b, c = input().split()
d = int(a) + int(b) + int(c)
e = d / 3
print(d, '%.1f'%e)

1 2 3
6 2.0